.getintomaindiv{
   height: 70svh;
   top: 15%;left: 5%;
   width: 90%;
   position: absolute;
   background-color:rgb(245, 245, 245);
   /* margin-top: 22%; */
   /* margin-left: 47%; */
   /* cursor: pointer; */
   z-index: 10;
   /* animation: motomove 1s ease 0 1 forwards ; */
   transition: all;
}
@keyframes motomove{
   from {left: -5px;}
      to {left: 0px;}
}