  .getintomaindiv{
   height: 70svh;
   top: 15%;left: 5%;
   width: 90%;
   position: absolute;
   /* background-color:rgb(245, 245, 245); */
   /* margin-top: 22%; */
   /* margin-left: 47%; */
   /* cursor: pointer; */


   animation: slideRight 0.3s ease-out forwards;
overflow: hidden;
   z-index: 10;
}
@keyframes slideRight {
   from {
     transform: translateX(-10%);
     opacity: 0;
   }
   to {
     transform: translateX(0);
     opacity: 1;
   }
 }
 input, textarea {


    caret-color: black;

      cursor: url('your-black-cursor.png'), text;

  


}