.getstartedpage_maindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color:rgb(255, 252, 236);
}
.navbartype{
    position: absolute;
    top: 10px;
display: inline-flex;
    /* background-color: #3773af; */
   height: 70px;
   width: 100%;
   /* border-radius: 5px; */
   background-color: rgb(255, 252, 236);
   border-bottom: 1px solid rgba(0, 0, 0, 0.114);
}
.infodiv{
    position: relative;
    display: flex;
    height: 500px;
    width: 90%;
    margin-bottom: -40px;
    /* background-color: #d1009d; */
}
.quote_1{
    font-size: 450%;
    /* position: relative; */
    font-family: "MarlinSoftBasic";
    font-weight: 900;
    font-style: normal;
    /* background-color: white; */
    color: rgb(39, 2, 194);
    height: 100%;
    width: 50%;
}
.quote_2{
    /* left: 120px; */
    /* position: absolute; */
    font-size: 80%;
    font-family: "MarlinSoftBasic";
    color: rgb(39, 2, 194);

    font-weight: 800;
    font-style: normal;
    /* background-color: white; */
    /* line-height: 1.5; */
    
}
.word{
    color: rgb(224, 224, 24);
    font-size: 90px;
}
.getstarted_button{
    margin-top: 30px;
    /* margin: left 30px; ; */
    width: 200px;
    position: absolute;
    height: 50px;
    background-color: rgb(52, 68, 239);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "MarlinSoftBasic";
    border-radius: 10px;
    color: white;
    font-weight:400 ;
    font-size: 26px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}
/* .getstarted_button:hover{
    background-color: rgb(52, 68, 239);
    transition: all 0.3s ease;
} */
.getstarted_button::before{
    position: absolute;
    background-color :rgb(39, 2, 194);
    content: "";
    left: -210px;
    border-radius: 10px;
z-index: -1;
    font-size: 20px;
    margin-left: 10px;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */

}
.getstarted_button:hover::before{
    animation: move 0.5s ease forwards;
}
@keyframes move{
    0%{
        left: -210px;
        width: 0;
    }
    100%{
        left: -10px;
       
    }
}
.lotanimation{
   height: 100%;
   width: 50%;
   /* background-color: rgb(255, 16, 16); */

}
.tellabout-lottie{
    position: relative;
    scale: 1.1;
    top: -45px;
}
.profileicon{
    position: absolute;
    right:  6%;
    /* background-color: white; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
height: 100%;
color: rgb(39, 2, 194);
width: 40px;
margin-right: 50px;
font-size: 30px;
cursor: pointer;
}
.logostart{
    position: absolute;
    left: 50px;
    padding: 10px;
    margin: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}
.allpagenavlogo{
    color: rgb(39, 2, 194);
}
.logoallpagenav{
    position: absolute;
    left: 68px;
    padding: 10px;
    top: 5px;
    color: rgb(255, 252, 236);
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}