.motoquewhole{
    height: 100%;
    width: 100%;
    
    display: flex;/* background-color: red; */
}
.motoque{
    background-color: rgb(245, 245, 245);
    width: 55%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;

}
.wtsthemoto{
    
/* position: absolute; */
    /* margin-top: 50px; */
    position: relative;
    top: 40px;
    margin-left: 10px;
    display: flex;
    font-family: "Poppins", sans-serif;
font-size: 350%;
font-weight: 600;
color: rgb(52, 68, 239);
    /* justify-content: center; */
    align-items: center;

background-color: rgb(245, 245, 245);    height: fit-content;
    width: fit-content;
}
.motoanimation{
    position: relative;
    top:-4px;
    background-color: rgb(245, 245, 245);
    width: 45%;
    height: 100%;
    scale: 0.8;

}
.discriptionbox{
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    height: 350px;
    width: 700px;
    font-family: "Poppins", sans-serif;
    padding: 15px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid rgb(143, 139, 139);
    outline: none;
}
.discriptionbox:hover{
    border: 2px solid black;
}
.ideaanimation {
    position: relative;
    top:-4px;
    background-color: red;
    background-color: rgb(245, 245, 245);
    width: 45%;
    right: -50px;
    height: 100%;
    scale: 0.9;
}
.wtkindaproject{
    position: relative;
    top: 40px;
    margin-left: 10px;
    display: flex;
    font-family: "Poppins", sans-serif;
font-size: 210%;
font-weight: 600;
color: #3444ef;
    /* justify-content: center; */
    align-items: center;

background-color: rgb(245, 245, 245);    height: fit-content;
    width: fit-content;
}
.wtkindaanimation{
    position: relative;
top:32%;
    /* background-color: red; */
    /* background-color: rgb(245, 245, 245); */
    width: 45%;
    left: 2.5%;
    /* display: inline; */
    height: 100%;
    scale: 1.5;

}   